<div class="call">
  <div class="call-box-top">
{{ if .Site.Data.contact.phone }}
    <div class="call-phone">
      <strong>Telefone / WhatsApp: </strong> 
      <a href="https://wa.me/3732129745?text=Olá,%20quero%20fazer%20um%20%orçamento20%para20%minha20%empresa">{{ .Site.Data.contact.phone }}</a> 
    </div>
{{ end }}
    <div class="call-email"><strong>Email: </strong>
      <a href="mailto:{{ .Site.Data.contact.email }}">
        {{ .Site.Data.contact.email }}
      </a>
    </div>
  </div>
  <div class="call-box-bottom">
    <a href="{{ "contact/" | relURL }}" class="button">Contato</a>
  </div>
</div>
