<header id="header" class="fixed-top shadow">
  	<div class="container">
  		<div class="logo float-left">
  			<a href="#intro" class="scrollto">
          <img src="" alt="XRP Consultoria" class="img-responsive center-block">
        </a>
  		</div>
			<nav class="main-nav float-right d-none d-lg-block">
				<ul>
            {{ $currentPage := . }}
              {{ range .Site.Menus.main }}
							<li class="menu-item-{{ .Name | lower }}{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}">
							  <a href="{{.URL}}">
                   {{ .Pre }}
                   <span>{{ .Name }}</span>
                </a>
              </li>
          {{end}}
				</ul>
			</nav><!-- .main-nav -->
		</div>
	</header><!-- #header -->

/*<div id="main-menu" class="main-menu">
  <ul>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <li class="menu-item-{{ .Name | lower }}{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}">
      <a href="{{.URL}}">
        {{ .Pre }}
        <span>{{ .Name }}</span>
      </a>
    </li>
    {{end}}
  </ul>
</div>*/
