<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          <ul>
{{ if .Site.Data.contact.phone }}
            <li>
              <strong>Telefone / WhatsApp: </strong>
              <a href="https://wa.me/553732129745?text=Olá,%20quero%20fazer%20um%20orçamento%20para%20minha%20empresa">{{ .Site.Data.contact.phone }}</a>
            </li>
{{ end }}
            <li><strong>Email: </strong><a href="mailto:{{ .Site.Data.contact.email }}">
                {{ .Site.Data.contact.email }}</a></li>
          </ul>
          <a href="https://xrpconsultoria.netlify.com"><strong>www.xrpconsultoria.com</strong></a>
        </div>
      </div>
    </div>
  </div>
</div>
